<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand brand-custom" href="#">Welcome to {{ title }}!</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success search-button" type="submit">Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item">
                <!-- <a class="nav-link login-custom" href="#">Ressursjer</a> -->
                <a class="nav-link login-custom" [routerLink]="['/resources']">Ressurser</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link login-custom" href="#">Ressursjer</a> -->
                <a class="nav-link login-custom" 
                    >Ny ressurs</a> <!-- [routerLink]="['/resources']" -->
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf=isLoggedIn>
                <a class="nav-link login-custom" 
                    href="#" routerLink="/login">Velkommen {{userName}} </a>
            </li>
            <li class="nav-item" *ngIf=!isLoggedIn>
                <a class="nav-link login-custom" routerLink="/login">Logg inn<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf=isLoggedIn>
                <a href="#" class="nav-link login-custom" (click)=logOut()>Logg ut<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link register-custom" href="#">Register</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- <footer class="no-print">
    <div class="app-container body-content">
        <div class="row">
            <div class="col-xs-12">
                Katapult | <a target="_blank" href="https://norskkatapult.no/">norskkatapult.no/</a> | Besøksadresse:
                Adresse her | Postadresse: Postadresse her
            </div>
        </div>
        <div class="row" style="padding: 5px 0 5px 0">
            <div class="col-xs-12">
                Telefon: <a href="tel:12345678"> 12345678</a> | Faks:<a href="tel:87654321"> 87654321 </a> | E-post: <a
                    href="email:post@katapult.no">post@katapult.no</a>
            </div>
        </div>
    </div>
</footer> -->
