<div class="app-container">
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      {{ pageTitle }}
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text' [(ngModel)]='listFilter'>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h3>Filtered by: {{listFilter}}</h3>
        </div>
      </div>
      <div class='tabls-responsive'>
        <table class='table' *ngIf='filteredResources && filteredResources.length > 0'>
          <thead>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide Image' : 'Show Image'}}
              </button>
            </th>
            <th>Ressurs</th>
            <th>Kode</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>5 Star Rating</th>
          </thead>
          <tbody>
            <tr *ngFor='let resource of filteredResources'>
              <td>
                <img *ngIf='showImage' [src]='resource.imageUrl' [title]='resource.name' [style.width.px]='imageWidth'
                  [style.margin.px]='imageMargin'></td>
              <td>
                <a [routerLink]="['/resources', resource.id]"
                    [queryParams]="{filterBy: listFilter, showImage: showImage}">
                  {{resource.name}}</a></td>
              <td>{{resource.code}}</td>
              <!-- <td>{{resource.code | lowercase | convertToSpaces: '-'}}</td> -->
              <td>{{resource.description}}</td>
              <!-- <td>{{resource.price}}</td> -->
              <td>{{resource.price | currency: 'NOK': 'symbol-narrow':'1.2-2' }}</td>
              <td>
                <crb-star [rating]='resource.starRating' (ratingClicked)='onRatingClicked($event)'></crb-star>
              </td>
              <td>
                <button class="btn btn-outline-primary btn-sm" [routerLink]="['/resources', resource.id, 'edit']">Endre</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>